@model IEnumerable<fakebook1.Models.Member>

@{
    ViewBag.Title = "Member Directory";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.displayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datedJoined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastLogin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.displayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datedJoined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastLogin)
        </td>
        <td>
            <div class="form-actions no-color btn btn-default">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </div>
            <div class="form-actions no-color btn btn-default">
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </div>
            <div class="form-actions no-color btn btn-default">
                @Html.ActionLink("View Profile", "ProfileView", new { id = item.ID })
            </div>
</td>
    </tr>
}

</table>
